header {
  background-image: url(/assets/images/header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 186px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  text-shadow: -1px 1px 5px #333;
  font-size: 45px;
  margin: 0;
}

h2 {
  text-shadow: -1px 1px 5px #333;
  font-size: 25px;
  margin: 0;
}

.content {
  width: 800px;
  margin: 0 auto 80px;

  &__posts {
    padding: 0;

    li {
      width: 100%;
      list-style: none;
      padding: 10px;
      background-color: #CCC;
      margin-right: 20px;

      a {
        color: #000;
        text-decoration: none;
        display: block;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    margin: 20px 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
