h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

blockquote {
  border-left: solid #777 2px;
  margin-left: 12px;
  padding-left: 12px;
}

pre, code {
  font-family: 'Inconsolata', 'Courier New', monospace;
}
